@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
  @apply bg-gray-900;
}

form {
  @apply bg-blue-950 py-8 px-4 rounded-lg shadow-lg;
}

legend {
  @apply text-blue-200 text-2xl mb-4 block font-bold;
}

label {
  @apply text-blue-200 text-lg mb-2 block;
}

input {
  @apply bg-blue-950 text-blue-200 border-blue-200 border-2 rounded-lg px-2 py-1 w-full placeholder:text-blue-200;
}
button[type="submit"] {
  @apply bg-blue-400 text-blue-900 border-blue-400 hover:bg-blue-500 hover:border-blue-500 border-2 rounded-lg px-2 py-1 w-full mt-4;
}


/*Toastify*/
@media screen and (max-width: 480px) {
  .Toastify__toast {
    max-width: 80%;
    margin: 1rem auto;
  }
}