@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
  @apply bg-creamBarber;
}

form {
  @apply border-b-[1px] border-brownBarber pb-4 mb-4;
}

legend {
  @apply text-brownBarber font-semibold text-lg mb-2;
}

label {
  @apply block text-sm font-medium leading-6 text-brownBarber mb-1;
}

input[type="text"],input[type="number"],input[type="date"],textarea,select {
  @apply block w-full bg-creamBarber rounded-md border-0 py-2 pl-2 text-brownBarber shadow-md ring-1 ring-inset ring-brownBarber placeholder:text-brownBarber focus:ring-inset focus:ring-blackBarber sm:text-sm sm:leading-6;
}

button[type="submit"]{
  @apply bg-brownBarber px-4 py-2 rounded-md text-creamBarber font-semibold shadow-md hover:bg-blackBarber focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blackBarber;
}

a {
  @apply text-brownBarber font-semibold border-b-2 border-blackBarber mb-4 hover:border-b-orangeBarber hover:text-orangeBarber inline-block w-auto transition-all;
}

h1 {
  @apply text-4xl font-bold text-brownBarber mb-4;
}

h3 {
  @apply text-xl font-normal text-brownBarber mb-4;
}

/*Toastify*/
.Toastify__toast-theme--light {
  @apply bg-whiteBarber text-blackBarber;
}

@media screen and (max-width: 480px) {
  .Toastify__toast {
    max-width: 80%;
    margin: 1rem auto;
  }
}

